
circle.raspberry {
  fill: #d20000;
  stroke: #500000;
  stroke-width: 3px;
}
circle.blueberry {
  fill: #0059de;
  stroke: #002050;
  stroke-width: 3px;
}
circle.unlabelled {
  fill: #EEEEEE;
  stroke: #666666;
  stroke-width: 3px;
}
circle.pos {
  fill: white;
  fill-opacity: 0;
  stroke: #d20000;
  stroke-opacity: 0.75;
  stroke-width: 5px;
  stroke-dasharray: 10;
}
circle.neg {
  fill: white;
  fill-opacity: 0;
  stroke: #0059de;
  stroke-opacity: 0.75;
  stroke-width: 5px;
  stroke-dasharray: 10;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

.grid line {
  stroke: lightgrey;
  stroke-opacity: 0.7;
  shape-rendering: crispEdges;
}

.grid path {
  stroke-width: 0;
}

line.diagonal {
  stroke-width: 2;
  stroke-opacity: 0.8;
  stroke: grey;
  stroke-dasharray: 5,5;
}

line.span {
  stroke-width: 2;
  stroke-opacity: 1;
  stroke: grey;
  stroke-dasharray: 5,5;
}

#arrowhead {
  fill-opacity: 1;
  fill: grey;
}

/*Slider styling*/
.track,
.track-inset,
.track-overlay {
  stroke-linecap: round;
}

.track {
  stroke: #222;
  stroke-opacity: 0.3;
  stroke-width: 8px;
}

.track-inset {
  stroke: #eee;
  stroke-width: 6px;
}

.track-overlay {
  pointer-events: stroke;
  stroke-width: 50px;
  cursor: crosshair;
}

.handle {
  fill: #fff;
  stroke: #000;
  stroke-opacity: 0.5;
  stroke-width: 1.25px;
}
